.container-caach {
  background-color: #0b111b;
  height: 50vh;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.caach-carcontainer {
  grid-area: 1 / 1 / 4 / 6;
  height: 100%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.caach-primer {
  grid-area: 1 / 6 / 4 / 11;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 10% 0 0;
}

.caach-title {
  font-size: 4vw;
  font-weight: 800;
  line-height: 0.9;
  color: #b9171f !important;
  text-align: start;
}

.caach-desc {
  font-size: 1.15vw;
  line-height: 1.15;
  color: #d1d6e0 !important;
  padding-left: 1%;
  text-align: start;
  margin: 0;
  padding-bottom: 3%;
}

.caach-fyi {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1%;
}

.caach-fyivr {
  width: 2vw;
  color: #a4a7af !important;
}

.caach-fyidesc {
  margin: 0;
  color: #a4a7af !important;
  padding-left: 3%;
  text-align: justify;
  font-size: 0.85vw;
  font-style: italic;
}

.caach-carousel {
  padding-left: 15%;
  height: 40vh;
}

.caach-card {
  background-color: #090d14;
  height: 40vh;
  display: flex;
  flex-direction: row;
}

.caach-body {
  padding-left: 5%;
}

.caach-img-left {
  object-fit: cover;
  width: 70%;
}

.caach-heading {
  font-size: 2vw;
  font-weight: 800;
  line-height: 0.9;
  margin-bottom: 2.5%;
}

.caach-text {
  font-size: 1vw;
  line-height: 1.25;
  margin: 0;
}

.caach-btn-grp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding-top: 5%;
}

.caach-btn {
  min-width: 9.5vw;
  height: 3vw;
  font-size: 1vw;
  font-weight: 500;
  background-color: #b9171f;
  color: #d1d6e0;
  border: none;
  padding: 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1;
  gap: 0.75vw;
  transition: all 100ms ease-in-out;
}

.caach-btn:hover {
  background-color: #d31d26 !important;
  transform: scale(1.05);
}
