.container-cainfo {
  background-color: #0b111b;
  height: 25vw;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.cainfo-primer {
  grid-area: 1 / 1 / 5 / 7;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 5% 0 10%;
}

.cainfo-title {
  font-size: 4vw;
  font-weight: 800;
  color: #b9171f !important;
  text-align: end;
}

.cainfo-desc {
  font-size: 1.15vw;
  line-height: 1.15;
  color: #d1d6e0 !important;
  padding-left: 1%;
  text-align: end;
}

.cainfo-carcontainer {
  height: 100%;
  grid-area: 1 / 7 / 5 / 11;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cainfo-carousel {
  padding-right: 15%;
  height: 18vw;
}

.cainfo-card {
  height: 18vw;
  background-color: #090d14;
}

.cainfo-img-top {
  height: 9vw;
  object-fit: cover;
}

.cainfo-body {
  padding: 0 5%;
}

.cainfo-heading {
  font-size: 1.8vw;
  font-weight: 800;
  margin: 0;
}

.cainfo-text {
  font-size: 0.85vw;
  line-height: 1.25;
  margin-top: 0.5vw;
}
