.dashboardcards-container {
  background-color: #0f1827;
  padding: 5% 0;
}

.dashboardcards-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25vw;
  padding-bottom: 3%;
}

.dashboardcards-title {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  color: #d1d6e0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashboardcards-title2 {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  -webkit-text-stroke: 0.2vw #d1d6e0;
  -webkit-text-fill-color: #b9171f;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cards-container {
  height: 25vw;
  width: 100%;
}

.cards-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-inner {
  height: 100%;
}

.card-items {
  height: inherit;
}

.card-cluster {
  padding: 0% 12.5%;
}

.dashcards-card {
  height: 25vw;
  background-color: #0b111b;
  border: transparent 0px solid;
}

.dashcards-card img {
  height: 10vw;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-btn {
  background-color: #a82128 !important;
  font-size: 1.25vw !important;
}

.card-title {
  font-size: 2vw;
  font-weight: 800;
}

.card-text {
  font-size: 1.15vw;
}
