:root {
  --carouselHeight: calc(100vh - 8.5vh);
}

@media (min-width: 1200px) {
  .carousel {
    height: var(--carouselHeight);
  }

  .carousel-inner > .carousel-item {
    height: var(--carouselHeight);
  }
}

.dashboard-banner {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-left: 15%;
}

.dbline {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.disp1 {
  font-size: 8vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  -webkit-text-stroke: 0.25vw #d1d6e0;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.disp2 {
  font-size: 8vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  -webkit-text-stroke: 0.25vw #d1d6e0;
  -webkit-text-fill-color: #b9171f;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashboard-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.dashboard-text p {
  text-align: right;
  font-size: 1.5vw;
  line-height: 1.2;
  font-weight: 500;

  padding: 2% 0;
}

.dashcar-btn {
  width: 12vw;
  font-size: 1.25vw;
  background-color: #a82128 !important;
  padding: 1.5% 3%;
  border: transparent 0px solid;

  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  transition: all 100ms ease-in-out;
}

.dashcar-btn:hover {
  background-color: #d31d26 !important;
  transform: scale(1.05);
}

@media (max-width: 799px) {
  .disp1,
  .disp2 {
    font-size: 180%;
    line-height: 2.5vw;
    -webkit-text-stroke: 0.2vw #d1d6e0;
  }
}
