* {
  font-size: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-navbar {
  height: 4.5vw;
  background-color: #111d32 !important;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.nav-item {
  margin: 0 7%;
}

.navbar-toggler > i {
  color: #d1d6e0 !important;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  width: 35%;
  height: 35%;
}

.btn {
  border-color: transparent !important;
}

.nav-title {
  transform: scale(1.2);
}

.nav-search {
  background-color: #a82128 !important;
}

.nav-search:hover {
  background-color: #ff1721 !important;
}

.nav-item:hover > a {
  color: #ff1721 !important;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
  margin-top: 0 !important;
  border-radius: 0;
}

.dropdown-menu {
  background-color: #141f33 !important;
}

.dropdown-item:hover {
  background-color: #1b2a46 !important;
}

.fa-magnifying-glass {
  color: #d1d6e0;
}

#embedded-map-display img {
  max-width: none !important;
  background: none !important;
  font-size: inherit;
  font-weight: inherit;
}

@media (max-width: 992px) {
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0;
  }
  .dropdown-menu,
  .dropdown-menu:active {
    display: none;
  }

  .navbar-all {
    background-color: #111d32 !important;
  }

  .navbar-collapse {
    overflow: hidden;
  }

  form {
    padding: 5% 0;
  }
}
