.caprograms-container {
  background-color: #0f1827;
  padding: 8% 0;
}

.caprograms-heading {
  padding: 0% 10% 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caprograms-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25vw;
}

.caprograms-title {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  color: #d1d6e0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caprograms-title2 {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  -webkit-text-stroke: 0.2vw #d1d6e0;
  -webkit-text-fill-color: #b9171f;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caprograms-subtitle {
  padding: 2%;
  font-size: 1.5vw;
  text-align: center;
}

.caprograms-offerings {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.caprograms-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.caprograms-list {
  grid-area: 1 / 1 / 5 / 3;
}

.caprograms-lg > button {
  background-color: #111d32;
}

.caprograms-lg > button:hover {
  background-color: #0b111b !important;
}

.genview-container {
  border: transparent 0px solid;
}

.caprograms-view {
  grid-area: 1 / 3 / 5 / 7;
  border: transparent 0px solid;
}

.caprograms-tabrow {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/*.caprograms-links {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}*/

.caprograms-links > .active {
  background-color: #d1d6e0 !important;
  border-color: #d1d6e0 !important;
}

.ca-links {
  background-color: #0b111b !important;
  padding: 5%;
  border: transparent 0px solid;
}

.link-title {
  font-size: 1.5vw;
  font-weight: 800;
  line-height: 1;
  display: inline-block;
  margin: 0;
}

.link-subtext {
  font-size: 1vw;
  line-height: 1.2;
  display: inline-block;
  color: #a4a7af !important;
  margin: 0;
}

.active > .link-title,
.active > .link-subtext {
  color: #0b111b !important;
}

.caprograms-genview {
  height: 100%;
  width: 95%;
}

.genview-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.genview-left {
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.genview-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.genview-right {
  background-color: #0b111b;
  width: 70%;
  height: 100%;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.genview-title {
  font-size: 4vw;
  font-weight: 800;
  line-height: 0.9;
  font-family: "Roboto", sans-serif;
  color: #d1d6e0;
}

.genview-text {
  padding: 1% 0;
  font-size: 1.25vw;
  color: #a4a7af !important;
}

.genview-button {
  width: 12vw;
  background-color: #b9171f !important;
  padding: 1.5% 3%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  font-size: 1.25vw;
  transition: all 100ms ease-in-out;
}

.genview-button:hover {
  background-color: #d31d26 !important;
  transform: scale(1.05);
}
