.catravel-container {
  background-color: #0f1827;
  padding: 8% 0;
}

.catravel-heading {
  padding: 0% 10% 3% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catravel-tge-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.15vw;
}

.catravel-tge-group p {
  font-size: 5.25vw;
}

.catravel-tge-group > .catravel-title {
  color: #91949b !important;
}

.catravel-tge-group > .catravel-title2 {
  -webkit-text-stroke: 0.2vw #91949b;
  -webkit-text-fill-color: #9b1319;
}

.catravel-title {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  color: #d1d6e0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.catravel-title2 {
  font-size: 7vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  line-height: 0.7;
  -webkit-text-stroke: 0.2vw #d1d6e0;
  -webkit-text-fill-color: #b9171f;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.catravel-subtitle {
  padding: 2%;
  font-size: 1.5vw;
  text-align: center;
}
