.carousel {
    width: 100vw;
    overflow: hidden;
}

.carousel > button {
    height: inherit;
}

.dashboard-banner1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}