.dashboardcards-container {
  background-color: #0e1014;
}

.dashboardcards-title {
  font-size: 4.5vw;
  font-weight: 500;
  color: #d1d6e0;
  text-align: center;
  padding: 5% 0 1% 0;
}

.cards-carousel {
  background-color: aqua;
  height: 60vh;
}

.card-cluster {
  padding: 0 12%;
}

.card {
  background-color: #0a1325;
  border: transparent 0px solid;
}

.card-btn {
  background-color: #a82128 !important;
}
