.dashmain {
  background-color: #0b111b;
  height: 50vh;
  width: 100vw;
}

.dashgrid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.dashleftcell {
  grid-area: 1 / 1 / 4 / 5;
  padding: 5% 15% 5% 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.dashrightcell {
  grid-area: 1 / 5 / 4 / 8;
  padding: 5% 15% 5% 5%;
}

.dashabout-title {
  font-size: 5vw;
  font-weight: 800;
  font-family: "Roboto", sans-serif;
  color: #b9171f !important;
}

.dashabout-text {
  font-size: 1.25vw;
  text-align: justify;
}

.carousel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
