.dashboardcards-container {
  background-color: #0f1827;
  padding: 5% 0;
}

.dashboardcards-title {
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  padding: 0 0 3% 0;

  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  user-select: none;
}

.cards-container {
  height: 25vw;
  width: 100%;
}

.cards-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-inner {
  height: 100%;
}

.card-items {
  height: inherit;
}

.card-cluster {
  padding: 0% 12.5%;
}

.dashcards-card {
  height: 25vw;
  background-color: #0b111b;
  border: transparent 0px solid;
}

.dashcards-card img {
  height: 10vw;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.card-btn {
  background-color: #a82128 !important;
  font-size: 1.3vw !important;
}

.card-text {
  font-size: 1.25vw;
}
